@import "../../../../styles.scss";

.normal-head {
  height: var(--header-mobileView-height);
  width: var(--full-width);
  background-color: var(--bluish-color);

  .brand-Title {
    font-weight: var(--normal-hd);
  }

  .title {
    font-size: var(--head-title-font-size);
  }

  .sub-Title {
    font-weight: var(--normal-hd);
  }
}

.notebook-head{
  height: var(--header-mobileView-height);
  width: var(--full-width);
  background-color: var(--bluish-color);
  padding: var(--normal-pd);
  color: var(--white-txt);
  background-position: center;

  .brand-Title {
    font-weight: var(--normal-hd);
  }

  .title {
    font-size: calc(var(--head-title-font-size) - 1.5rem);
  }

  .sub-Title {
    font-size: var(--notebook-sub-Title);
    font-weight: var(--normal-hd);
  }
}

.all-subject-head{
  height: var(--header-mobileView-height);
  width: var(--full-width);
  background-color: var(--bluish-color);
  padding: var(--normal-pd);
  color: var(--white-txt);
  background-position: center;
  background-size: contain;

  .brand-Title {
    font-weight: var(--normal-hd);
  }

  .title {
    font-size: var(--head-title-font-size);
  }

  .sub-Title {
    font-weight: var(--normal-hd);
  }
}