@import "../../../../styles.scss";

.normal-head {
  height: var(--header-mobileView-height);
  width: var(--full-width);
  background-color: var(--bluish-color);

  .brand-Title {
    font-weight: var(--normal-hd);
  }

  .title {
    font-size: var(--head-title-font-size);
  }

  .sub-Title {
    font-weight: var(--normal-hd);
  }
}

.notebook-head{
  height: var(--header-mobileView-height);
  width: var(--full-width);
  background-color: var(--bluish-color);

  .brand-Title {
    font-weight: var(--normal-hd);
  }

  .title {
    font-size: var(--head-title-font-size);
  }

  .sub-Title {
    font-weight: var(--normal-hd);
  }
}