/* You can add global styles to this file, and also import other style files */

:root {
  // Colors
  --bluish-color: hsl(204, 24%, 96%);
  --dark-grey-color: hsl(208, 25%, 22%);
  --light-grey-color: hsl(210, 22%, 91%);
  --violet-color: hsl(273, 86%, 41%);
  --overlay-color: hsl(208, 10%, 49%);

  // text color
  --white-txt: hsl(0, 0%, 100%);

  
  // fonts sizes
  --head-title-font-size: calc(3rem + 1.5vw);
  --sub-Title-size: 1rem;


  // fonts hardness
  --very-lightest-hd: 100;
  --lightest-hd: 200;
  --light-hd: 300;
  --normal-light-hd: 400;
  --normal-hd: 500;
  --normal-dark-hd: 600;
  --light-dark-hd: 700;
  --dark-hd: 800;
  --darkest-hd: 900;
  --darker-hd: 1000;


  // different lengths according to viewport
  --header-mobileView-height: 12rem;
  --full-width: 100vw;
  --full-height: 100vh;

  // padding
  --normal-pd: 1.5rem;
  --center-content-pd: 2rem;

  // btn
  --btn-border-curve: 5px;
  --btn-primary-width: 10rem
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flx {
  display: flex;
}

.col {
  flex-direction: column;
}

.col-cc {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.col-es{
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.col-ss{
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.row {
  flex-direction: row;
}

.row-cc {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap !important;
}
